@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Noto+Serif+JP:wght@400;500;600;700&display=swap');

a {
  color: #0f2b46;
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lora', serif;
  font-family: 'Noto Serif JP', serif;
}

html {
  font-size: 16px;
}
